@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center fw-normal text-decoration-underline">Hello, and welcome to the investment calculator!</h1>

<p class="text-center">Please click on the "Investment Calculator" button to open the calculator.</p>
